---
layout: default
---
<aside class="controls-card">
    {{content}}
</aside>

<section class="preview-card">
  <div class="preview-box" id="preview">
    Preview
  </div>

  <div class="css-output-container">
    <div class="css-output">
      <!-- TODO update from the frontmatter of each tool -->
      <div id="cssCode">{{default-css}}</div>
    </div>
    <button class="copy-btn" id="copyBtn" onclick="copyCSS()">Copy CSS</button>
  </div>
  {%- comment -%}
  {%- include about-modal.html -%}
  {%- endcomment -%}
</section>